@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-raleway), sans-serif;
}

:root {
  --radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2590be;
}
